
            {
                box-sizing: border-box;
            }

            /*!sc*/
            :root {
                font-size: 16px;
            }

            /*!sc*/
            html,body {
                padding: 0;
                margin: 0;
                background-color: #FAFAFA;
                font-size: 1rem;
                -webkit-font-smoothing: antialiased;
            }

            /*!sc*/
            a {
                color: inherit;
                text-decoration: none;
            }

            /*!sc*/
            button {
                border: none;
                font-size: 1rem;
                font-weight: 400;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                appearance: none;
            }

            /*!sc*/
            .container {
                width: 90%;
                max-width: 1255px;
                margin: auto;
            }

            /*!sc*/
            .flex-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            /*!sc*/
            .swal-icon--error {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
            }

            /*!sc*/
            .swal-icon--error__line {
                width: 27px;
                height: 4px;
                top: 29px;
            }

            /*!sc*/
            .swal-title {
                color: #333;
            }

            /*!sc*/
            .swal-button {
                background-color: #26a5ff;
                transition: background-color 0.3s;
            }

            /*!sc*/
            .swal-button:not([disabled]):active,.swal-button:not([disabled]):hover {
                background-color: #0090ff;
            }

            /*!sc*/
            @media (max-width: 1150px) {
                h1 {
                    font-size:28px;
                }
            }

            /*!sc*/
            @media (max-width: 600px) {
                h1 {
                    font-size:20px;
                }

                .container {
                    width: 94%;
                }
            }

            /*!sc*/
            data-styled.g1[id="sc-global-eCeIBr1"] {
                content: "sc-global-eCeIBr1,"
            }

            /*!sc*/
            .eZwMII {
                padding: 1rem 2rem 2rem 2rem;
                background: #ffffff;
                box-shadow: 0px 0px 2px rgba(0,0,0,0.1),0px 2px 32px rgba(15,91,206,0.1);
                border-radius: 15px;
                flex: 1;
                min-width: 0;
                overflow: hidden;
                align-self: baseline;
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .eZwMII {
                    padding:0.5rem 1.1rem 1.5rem 1.1rem;
                }
            }

            /*!sc*/
            @media (max-width: 65.625em) {
                .eZwMII {
                    align-self:normal;
                }
            }

            /*!sc*/
            data-styled.g12[id="sc-35e0b093-0"] {
                content: "eZwMII,"
            }

            /*!sc*/
            .hUVsqy {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            /*!sc*/
            data-styled.g13[id="sc-35e0b093-1"] {
                content: "hUVsqy,"
            }

            /*!sc*/
            .eULCPM {
                margin: 0;
                padding: 0;
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .eULCPM {
                    font-size:14px;
                }
            }

            /*!sc*/
            data-styled.g14[id="sc-35e0b093-2"] {
                content: "eULCPM,"
            }

            /*!sc*/
            .bVoofr .react-select__control {
                box-sizing: border-box;
                border-color: #c5c7d0;
                height: 41px;
            }

            /*!sc*/
            .bVoofr .react-select__control:hover {
                background-color: #fafafa;
            }

            /*!sc*/
            .bVoofr .react-select__control--is-focused {
                background-color: #fff;
                box-shadow: 0 0 0px 1px #74b0ff;
                border: 1px solid #2684ff;
            }

            /*!sc*/
            .bVoofr .react-select__control--is-focused:hover {
                background-color: #fff;
            }

            /*!sc*/
            .bVoofr .react-select__control--menu-is-open {
                box-shadow: 0 0 5px 1px #74b0ff;
                border: 1px solid #2684ff;
            }

            /*!sc*/
            .bVoofr .react-select__value-container {
                padding: 0 8px;
                font-size: 14px;
            }

            /*!sc*/
            .bVoofr .react-select__option {
                font-size: 14px;
            }

            /*!sc*/
            data-styled.g17[id="sc-90001b74-0"] {
                content: "bVoofr,"
            }

            /*!sc*/
            .eqInmO {
                padding: 1rem 2rem 2rem 2rem;
                background: #ffffff;
                box-shadow: 0px 0px 2px rgba(0,0,0,0.1),0px 2px 32px rgba(15,91,206,0.1);
                border-radius: 15px;
                align-self: flex-start;
                min-width: 230px;
                max-width: 335px;
                width: 26.5vw;
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .eqInmO {
                    padding:0.5rem 1.1rem 1.5rem 1.1rem;
                }
            }

            /*!sc*/
            @media (max-width: 65.625em) {
                .eqInmO {
                    align-self:normal;
                    max-width: 100%;
                    width: 100%;
                }
            }

            /*!sc*/
            data-styled.g18[id="sc-a511e47-0"] {
                content: "eqInmO,"
            }

            /*!sc*/
            .flDpDa>*+* {
                margin-top: 20px;
            }

            /*!sc*/
            .flDpDa fieldset {
                padding: 0;
                margin-left: 0;
                margin-right: 0;
                border: none;
            }

            /*!sc*/
            .flDpDa label {
                display: inline-block;
                font-size: 14px;
                padding-bottom: 8px;
            }

            /*!sc*/
            .flDpDa input {
                width: 100%;
                border: 1px solid #c5c7d0;
                border-radius: 5px;
                padding: 11px 12px;
                transition: all 0.2s ease-out;
                font-size: 14px;
            }

            /*!sc*/
            .flDpDa input:hover {
                background-color: #fafafa;
                border-color: rgb(179,179,179);
            }

            /*!sc*/
            .flDpDa input:focus {
                border-color: #2684ff;
                background-color: #fff;
                outline: none;
            }

            /*!sc*/
            .flDpDa input:-webkit-autofill::first-line {
                font-family: $body-font;
                font-size: 14px;
            }

            /*!sc*/
            .flDpDa button {
                background-color: #2684ff;
                border-radius: 5px;
                color: #fff;
                width: 5.625rem;
                height: 2.5rem;
                transition: background-color 0.2s ease-out;
                position: relative;
                overflow: hidden;
            }

            /*!sc*/
            .flDpDa button:hover {
                background-color: #005bff;
            }

            /*!sc*/
            .flDpDa span.ripple {
                position: absolute;
                border-radius: 50%;
                transform: scale(0);
                animation: ripple 600ms ease-out;
                background-color: rgba(255,255,255,0.7);
            }

            /*!sc*/
            @keyframes ripple {
                to {
                    transform: scale(4);
                    opacity: 0;
                }
            }

            /*!sc*/
            data-styled.g19[id="sc-a511e47-1"] {
                content: "flDpDa,"
            }

            /*!sc*/
            .kYoaPT {
                display: flex;
                margin: 45px auto 1rem!important;
                gap: clamp(0.5rem,2.5vw,4rem);
            }

            /*!sc*/
            @media (max-width: 65.625em) {
                .kYoaPT {
                    flex-direction:column;
                }
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .kYoaPT {
                    margin:20px auto 1rem!important;
                }
            }

            /*!sc*/
            @media (max-width: 65.625em) {
                .kYoaPT {
                    gap:0.75rem;
                }
            }

            /*!sc*/
            data-styled.g20[id="sc-a5026b59-0"] {
                content: "kYoaPT,"
            }

            /*!sc*/
            .gBZavE {
                padding: 20px 0 40px 0;
                display: flex;
                align-items: center;
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .gBZavE {
                    font-size:14px;
                }
            }

            /*!sc*/
            .gBZavE a {
                display: inline-flex;
                align-items: center;
                transition: color 0.3s;
            }

            /*!sc*/
            .gBZavE a svg {
                margin-right: 0.5rem;
                transition: fill 0.3s;
                width: 20px;
                height: 20px;
            }

            /*!sc*/
            @media (max-width: 37.5em) {
                .gBZavE a svg {
                    width:18px;
                    height: 18px;
                }
            }

            /*!sc*/
            .gBZavE a:hover {
                color: #005bff;
            }

            /*!sc*/
            .gBZavE a:hover svg {
                fill: #005bff;
            }

            /*!sc*/
            data-styled.g21[id="sc-a5026b59-1"] {
                content: "gBZavE,"
            }

            /*!sc*/
            .jKpGxF {
                margin: 0 1rem;
                width: 1px;
                height: 16px;
                background-color: rgb(0 0 0 / 50%);
            }

            /*!sc*/
            data-styled.g22[id="sc-a5026b59-2"] {
                content: "jKpGxF,"
            }

            /*!sc*/
        
